<div class="card ">
  <div *ngIf="vocableContainer.getVocableContainerId() !== '0'" class="card-header ">
    <h1> Details zur Vokabelliste</h1>
  </div>
  <div *ngIf="vocableContainer.getVocableContainerId() === '0'" class="card-header ">
    <h1> Vokabelliste erstellen</h1>
  </div>
  <div class="card-block ">
    <form clrForm>
      <clr-input-container>
        <label>Listenname</label>
        <input [(ngModel)]="title" [ngModelOptions]="{standalone: true}" clrInput/>
      </clr-input-container>
      <p *ngIf="setWarningIconTitle() === false" class="clr-subtext">Dies ist ein Pflichtfeld.
        <img src='/assets/images/designs/warningIcon.png' width="19"/></p>
      <clr-input-container>
        <label>Bekannte Sprache</label>
        <input [(ngModel)]="baseLanguage" [ngModelOptions]="{standalone: true}" clrInput/>
      </clr-input-container>
      <p *ngIf="setWarningIconBaseLanguage() === false" class="clr-subtext">Dies ist ein Pflichtfeld.
        <img src='/assets/images/designs/warningIcon.png' width="19"/></p>
      <clr-input-container>
        <label>Zu lernende Sprache</label>
        <input [(ngModel)]="goalLanguage" [ngModelOptions]="{standalone: true}" clrInput/>
      </clr-input-container>
      <p *ngIf="setWarningIconGoalLanguage() === false" class="clr-subtext">Dies ist ein Pflichtfeld.
        <img src='/assets/images/designs/warningIcon.png' width="19"/></p>
      <clr-input-container>
        <label>Schlüssel</label>
        <input [(ngModel)]="shareableKey" [ngModelOptions]="{standalone: true}" clrInput/>
      </clr-input-container>
      <p class="clr-subtext">Gibst du keinen Key ein, so wird dieser automatisch generiert.</p>
      <div *ngIf="vocableContainer.getVocableContainerId() === '0'">
        <br>
        <re-captcha (resolved)="resolved($event)" siteKey="6Lf-3iQTAAAAAOGHGpzdnJ5O7X38DAU3vL9H4En6"></re-captcha>
      </div>
    </form>
    <br>
    <button (click)="postContainer()" *ngIf="vocableContainer.getVocableContainerId() === '0'" class="btn btn-link"
            type="submit">Vokabelliste erstellen
    </button>
    <br>
    <button (click)="submitToTraining()"
            *ngIf="vocableContainer.getVocableContainerId() !== '0'" [attr.disabled]="vocables.length == 0 ? true : null" class="btn btn-link"
            type="submit">Zum Training
    </button>
    <button (click)="deleteVocableContainer()" *ngIf="vocableContainer.getVocableContainerId() !== '0'" class="btn btn-link"
            id="deleteContainerButton" type="submit">Liste löschen
    </button>
    <br>
    <p><b>{{infoMessageAddContainer}}</b></p>
  </div>
</div>
