<clr-header>
  <div class='branding'>
    <a class='nav-link' href='/welcome'>
      <img alt='logo' src='/assets/images/logo/logoWithBorder.svg' width='50'/>
      <span class='title'>MeinVokabeltrainer</span>
    </a>
  </div>
  <div [clr-nav-level]="1" class="header-nav">
    <a class="nav-link" href="/" id="home-link" routerlink="/" routerlinkactive="active">
      <span class="nav-text">Startseite</span>
    </a>
    <a class="nav-link" href="/createOwnContainer" routerlink="/createOwnContainer" routerlinkactive="active">
      <span class="nav-text">Deine Vokabelliste</span>
    </a>
    <a class="nav-link" href="/key" routerlink="/key" routerlinkactive="active">
      <span class="nav-text">Training</span>
    </a>
    <a class="nav-link" href="/whoWeAre" routerlink="/whoWeAre" routerlinkactive="active">
      <span class="nav-text">Wer wir sind</span>
    </a>
    <a class="nav-link" href="/imprint" routerlink="/imprint" routerlinkactive="active">
      <span class="nav-text">Impressum</span>
    </a>
  </div>
  <div class="header-backdrop"></div>
</clr-header>
