<img alt='Welcome' class='responsive' src='/assets/images/designs/welcomeTransparent.png'/>
<h1>Herzlich willkommen zu MeinVokabeltrainer!</h1>
<div>
  <div>
    MeinVokabeltrainer ist ein einfacher, personalisierbarer Vokabeltrainer, der komplett ohne Anmeldung funktioniert!
    Eigene Vokabellisten können gespeichert und wiederaufgerufen werden.
  </div>
  <h2>Wie ist diese Seite zu nutzen?</h2>
  <div>
    Im oberen Bereich der Seite befindet sich eine Navigationsleiste, die dich in die verschiedenen Kategorien unserer
    Website bringt.
  </div>
  <h2>Deine Vokabelliste</h2>
  <div>
    <p>Dieser Teil stellt dir alle Möglichkeiten zur Verfügung, um deine eigenen Vokabeln einzutragen.
      Dir ist dabei freigestellt, in welchen Sprachen du dich üben willst. Der Hauptzweck ist das Erlernen von
      Vokabeln realer Sprachen. Du kannst aber selbstverständlich auch konstruierte Sprachen festigen (z.B.
      Geheimsprachen).
      Mit einem für dich erstellten Schlüssel kannst du auf deine Vokabelliste zugreifen. Somit kannst du Vokabeln zu
      einem späteren Zeitpunkt erneut bearbeiten und üben.</p>
  </div>
  <h2>Training</h2>
  <div>
    Hier kannst du deinen zuvor erstellten Schlüssel eingeben und sofort mit deinem Training beginnen!
  </div>
  <br>
</div>
