h1,
h3 {
  text-justify: inter-word;
}

.word {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  word-break: break-all;
}

.space {
  margin: 0px 12px 0px 12px;
  padding: 0px;
}

.card-header,
.card-block {
  word-break: break-all;
  overflow: hidden;
}

.correctAnswerFooter {
  background-color: #FFFFFF;
  animation-name: correct;
  animation-duration: 3s;
}

.falseAnswerFooter {
  background-color: #FFFFFF;
  animation-name: false;
  animation-duration: 3s;
}

@keyframes correct {
  from {
    background-color: #82F76F;
  }
  to {
    background-color: #FFFFFF;
  }
}

@keyframes false {
  from {
    background-color: #FA5858;
  }
  to {
    background-color: #FFFFFF;
  }
}
