<div class="space">
  <div class="clr-row ">
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-6">
      <div class="card ">
        <div class="card-header">
          <h1>Training von {{vocableContainer.getTitle()}}</h1>
        </div>
        <div class="card-block ">
          <h3>{{vocableContainer.getBaseToGoalLanguageString()}}</h3>
        </div>
        <div class="card-footer">
          <button (click)="submitToVocableManagement()" class="btn btn-link">Vokabelliste Verwalten</button>
        </div>
      </div>
    </div>
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-6">
      <div class="card ">
        <div class="card-header ">
          Dein nächstes Wort:<br>
          <span *ngIf="loadingSpinner" class="spinner spinner-inline">
            Laden...
          </span>
          <p *ngIf="loadingSpinner == false" class="word">
            {{vocableToTranslate.getVocableBaseLanguage()}}
          </p>
        </div>
        <div class="card-block ">
          <form class="clr-form">
            <input (keyup.enter)="compareVocable()" [(ngModel)]='userInput' [ngModelOptions]="{standalone: true}"
                   class="clr-input" placeholder="Übersetzung"><br>
          </form>
          <button (click)="compareVocable()" class='btn btn-link' class="right" type='submit'>Abschicken</button>
        </div>
        <div class="card-footer " id="checkAnswerFooter">
          <p>{{resultDescription}}<b *ngIf="checkParsedResponse() === false">{{lastVocableGoalLanguage}}</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
