<div class="space">
  <div *ngIf="vocableContainer.getVocableContainerId() === '0'">
    <div class="clr-row ">
      <div class="clr-col-12 ">
        <div class="card ">
          <div class="card-block ">
            <div>
              <clr-input-container>
                <label>Hast du bereits einen Schlüssel? Gib ihn hier ein:</label>
                <input (keyup.enter)='loadContainer()' [(ngModel)]='userInput' [ngModelOptions]=" {standalone: true}" clrInput
                       placeholder=""/>
              </clr-input-container>
              <button (click)='loadContainer()' class="btn btn-link" type="submit">Vorhandene Liste laden</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row ">
    <div class="clr-col-sm-12  clr-col-xl-5">
      <app-container-details></app-container-details>
      <ng-container *ngIf="vocableContainer.getVocableContainerId() !== '0'">
        <app-container-add-vocables [vocabellistSiblingComponent]="vocablelistComponent"></app-container-add-vocables>
      </ng-container>
    </div>
    <div class="  clr-col-sm-12  clr-col-xl-7">
      <app-container-vocablelist #vocablelistComponent></app-container-vocablelist>
    </div>
  </div>
</div>
