<div class="space">
  <div class="clr-row ">
    <div class="clr-col-12 ">
      <div class="card ">
        <div class="card-block ">
          <clr-input-container>
            <label>Dein Schlüssel</label>
            <input (keyup.enter)='submitToTraining()' [(ngModel)]='userInput' [ngModelOptions]="{standalone: true}" clrInput
                   placeholder=""/>
          </clr-input-container>
          <br>
          <button (click)='submitToTraining()' class="btn btn-link" type="submit">Zum Training</button>
          <br>
          <p><b>{{infoMessageKeyDoesNotExist}}</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
