<div class="card ">
  <div class="card-header ">
    <h2>Neue Vokabel</h2>
  </div>
  <div class="card-block">
    <form class="clr-form">
      <clr-input-container>
        <input [(ngModel)]="vocableBaseLanguage" [ngModelOptions]="{standalone: true}" clrInput
               name="baseLanguage" placeholder="Vokabel auf {{vocableContainer.getBaseLanguage()}}"/>
      </clr-input-container>
      <p *ngIf="setWarningIconVocableBaseLanguage() === false" class="clr-subtext">Dies ist ein Pflichtfeld.
        <img src='/assets/images/designs/warningIcon.png' width="19"/></p>
      <clr-input-container>
        <input [(ngModel)]="vocableGoalLanguage" [ngModelOptions]="{standalone: true}" clrInput
               name="goalLanguage" placeholder="Vokabel auf {{vocableContainer.getGoalLanguage()}}"/>
      </clr-input-container>
      <p *ngIf="setWarningIconVocableGoalLanguage() === false" class="clr-subtext">Dies ist ein Pflichtfeld.
        <img src='/assets/images/designs/warningIcon.png' width="19"/></p>
    </form>
    <br>
    <button (click)="postVocableToBackend()" class="btn btn-link" class="right" type="submit">Hinzufügen</button>
    <br>
    <p><b>{{infoMessageAddVocable}}</b></p>
  </div>
</div>
