<clr-main-container>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <cookie-law>
    MeinVokabeltrainer verwendet Cookies. Indem Sie fortfahren stimmen Sie dieser Verwendung zu.
    <a href="/imprint">Mehr Information</a>
  </cookie-law>
</clr-main-container>
