.responsive {
  width: 70%;
  height: auto;
}

.left {
  margin-left: 30px;
}

.alignImg {
  max-height: 100%;
  max-width: 100%;
}

.alignText {
  max-width: 100%;
  min-width: 100%;
  text-justify: inter-word;
}

.space {
  margin: 0px 12px 90px 12px;
  padding: 0px;
}

.card-header,
.card-block {
  word-break: break-all;
  overflow: hidden;
}
