<div class="left">
  <h1>Wer wir sind</h1>
  <p>Wir sind Moritz, Tom und Peter. Drei Informatik-Studenten an der <a href="https://www.hwr-berlin.de/"
                                                                         target="_blank">HWR-Berlin</a>.
    MeinVokabeltrainer ist unser gemeinsames Projekt für Software-Engineering-II. Viel
    Spaß beim Üben!</p>
  <div class="space">
    <div class="clr-row clr-justify-content-start">
      <div class="clr-col-sm-6  clr-col-xl-3 clr-col-md-5 clr-col-11 clr-col-lg-4">
        <a class="card clickable" href="https://twitter.com/MO_iostream" target="_blank">
          <div class="card-img">
            <img class="alignImg" src="/assets/images/portraits/moritzPortrait.jpg">
          </div>
          <div class="card-block">
            <p class="card-text alignText">
              Hier steht bald ein lustiger Text. Chief Excellence
            </p>
          </div>
        </a>
      </div>
      <div class="clr-col-sm-6  clr-col-xl-3 clr-col-md-5 clr-col-11 clr-col-lg-4">
        <a class="card clickable" href="https://www.instagram.com/stadler.peter/" target="_blank">
          <div class="card-img">
            <img class="alignImg" src="/assets/images/portraits/peterPortrait.jpg">
          </div>
          <div class="card-block">
            <p class="card-text alignText">
              Einfach Peter.
            </p>
          </div>
        </a>
      </div>
      <div class="clr-col-sm-6  clr-col-xl-3 clr-col-md-5 clr-col-11 clr-col-lg-4">
        <a class="card clickable" href="https://twitter.com/steasyl" target="_blank">
          <div class="card-img">
            <img class="alignImg" src="/assets/images/portraits/tomPortrait.jpg">
          </div>
          <div class="card-block">
            <p class="card-text alignText">
              Ein Halbgott.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
