<div class="card ">
  <clr-alert *ngIf="vocableContainer.getVocableContainerId() === '0'" role="alert-danger">
    <div class="alert-item">
            <span class="alert-text">
        Keine Vokabelliste geladen
      </span>
    </div>
  </clr-alert>
  <div class="card-header ">
    <h2>Deine Vokabeln</h2>
  </div>
  <ng-container *ngIf="vocableContainer.getVocableContainerId() != '0'">
    <div class="card-block ">
      <table class="table">
        <thead>
        <tr>
          <th>{{vocableContainer.getBaseLanguage()}}</th>
          <th>{{vocableContainer.getGoalLanguage()}}</th>
          <th>Fehlerhäufigkeit in %</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let vocable of vocables;">
          <tr>
            <td [attr.data-title]="vocableContainer.getBaseLanguage()">{{vocable.getVocableBaseLanguage()}}</td>
            <td [attr.data-title]="vocableContainer.getGoalLanguage()">{{vocable.getVocableGoalLanguage()}}</td>
            <td>{{vocable.getErrorQuoteFormatted()}}</td>
            <td>
              <button (click)="deleteVocable(vocable)" class="btn btn-link btn-sm" id="deleteVocableButton">Löschen
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
