#deleteVocableButton {
  color: #ff0000 !important;
}

#deleteVocableButton:hover {
  color: #c40000 !important;
}

th {
  background-color: #265770;
  color: #FFFFFF;
}

@media only screen and (max-width: 990px), (min-device-width: 0px) and (max-device-width: 990px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    word-wrap: break-word;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-top: 5px;
    word-wrap: break-word;
  }

  .table {
    border: 0px;
  }

  td:nth-of-type(4) {
    padding-left: 12px;
  }
  td:nth-of-type(1) {
    background-color: #265770;
    color: #ffffff;
    font-weight: bold;
  }
  td:nth-of-type(1):before {
    content: attr(data-title);
  }
  td:nth-of-type(2):before {
    content: attr(data-title);
  }
  td:nth-of-type(3):before {
    content: "Fehlerquote";
  }
  td:nth-of-type(4):before {
    content: "";
  }
}
